node_modules
.env
*.env
.env.production
.env.development
.local
dist
*dist
scripts
server

dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?